<div class="wishlist">
  <%= link_to wishlist.name, wishlist_path(wishlist) %>
  <div class="wishlist__actions">
    <%= button_to "Delete", wishlist_path(wishlist), method: :delete, class: "btn btn--light" %>
    <%= link_to "Edit", edit_wishlist(wishlist), class: "btn btn--light" %>
  </div>
</div>