<main class="container">
  <div class="header">
    <h1>Wishlists</h1>
    <%= link_to "New Wishlist",
                new_wishlist_path,
                class: "btn btn--primary",
                data: { turbo_frame: dom_id(Wishlist.new) } %>
  </div>

  <%= turbo_frame_tag Wishlist.new %>

  <%= turbo_frame_tag "wishlists" do %>
    <%= render @wishlists %>
  <% end %>
</main>